@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.header {
  @include flexy-box-align(row, center, space-between);
  width: 100%;
  height: auto;
  border-bottom: 2px dashed $gravelGrey;
  &__vertical-container {
    @include flexy-box-align(column, start, center);
  }
  &__link-logo {
    height: 100%;
  }
  &__logo {
    max-height: 10rem;
  }

  &__title {
    font-family: "Shlop";
    letter-spacing: 0.2rem;
    font-size: 3rem;
    color: $gromGreen;
  }
  &__caption {
    color: $thaneWhite;
  }
  &__button {
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 4rem;
  }
}
