@use "./variables" as *;
@use "./mixins" as *;

* {
  background-color: $black;
  color: $thaneWhite;
  padding: 0rem;
  margin: 0rem;
  text-decoration: none;
  font-family: "Telegraf";
  box-sizing: border-box;
}

textarea {
  resize: none;
}

@font-face {
  font-family: "Telegraf";
  src: url("/src/assets/font/PPTelegraf-Regular.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Telegraf";
  src: url("/src/assets/font/PPTelegraf-Ultralight.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Telegraf";
  src: url("/src/assets/font/PPTelegraf-Ultrabold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Shlop";
  src: url("/src/assets/font/shlop-rg.otf");
  font-weight: 400;
}

h1 {
  font-family: "Shlop";
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: $gromGreen;
  @include tablet {
    font-size: 5rem;
  }
}

h2 {
  @include font-styling(1.25rem, 600, 2rem);
  @include tablet {
    @include font-styling(1.375rem, 600, 2.25rem);
  }
}

h3 {
  @include font-styling(0.875rem, 700, 1.375rem);
  @include tablet {
    @include font-styling(1.125rem, 700, 1.875rem);
  }
}

p,
li {
  @include font-styling(0.875rem, 400, 1.125rem);
  @include tablet {
    @include font-styling(1.125rem, 400, 2rem);
  }
}

label {
  @include font-styling(0.75rem, 600, 1.125rem);
  @include tablet {
    @include font-styling(0.875rem, 600, 1.25rem);
  }
}

button {
  @include font-styling(0.75rem, 700, 1.375rem);
  @include tablet {
    @include font-styling(1.375rem, 700, 1.875rem);
  }
}
