@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.list {
  @include tablet {
    display: none;
  }
  @include flexy-box-align(column, center, center);
  padding: $mp;
}
.item {
  @include flexy-box-align(column, flex-end, center);
  list-style-type: none;
  padding: $mp 0rem;
  width: 100%;
  border-top: 2px dashed $roadRashRed;
  &:last-child {
    border-bottom: 2px dashed $roadRashRed;
  }
  &__info {
    grid-gap: $mp;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: $mp;
  }

  &__info-title {
    color: $thaneWhite;
    margin-bottom: 0.25rem;
  }
  &__button {
    padding: calc($mp/2) $mp;
    color: black;
    background-color: $gromGreen;
    border: 2px dashed $gravelGrey;
    border-radius: 5px;
  }
}
