@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.hero__video {
  width: 100%;
  height: 60vh;
  &-frame {
    width: 100%;
    height: 100%;
  }
}

.spot-page {
  width: 100%;
  padding: $mp;
  @include tablet {
    padding: $lp;
  }
}

.spot__title {
  padding-bottom: $mp;
  @include tablet {
    padding-bottom: $lp;
  }
}
.spot__detail {
  &--row {
    width: 100%;
    @include desktop {
      @include flexy-box-align(row, start, center);
      margin-bottom: $lp;
      height: 100%;
    }
  }
  &--row-small {
    @include tablet {
      @include flexy-box-align(row, center, center);
      height: 25vh;
      margin-top: $lp;
    }
  }
  &--row-large {
    width: 100%;
    @include tablet {
      @include flexy-box-align(row, center, center);
      height: 60vh;
      margin-top: $lp;
    }
  }
  &-label {
    padding: calc($mp/2) $mp;
    color: black;
    background-color: $gromGreen;
    border: 2px dashed $gravelGrey;
    border-radius: calc($mp/4);
  }
  &-label--emerg {
    color: $roadRashRed;
    border-radius: calc($mp/4);
  }
  &-icon {
    border: 2px solid $roadRashRed;
    padding: $mp;
    border-radius: calc($mp/4);
  }
  &-icon--small {
    height: 2rem;
    padding-left: $mp;
    position: absolute;
    left: 60%;
    @include tablet {
      position: static;
    }
  }
  &-icon--gauge {
    width: 100%;
  }
  &-icon--emerg {
    height: 2rem;
  }
  &-container {
    height: auto;
  }
  &-container,
  &-container--vertical {
    padding: $mp;
    @include flexy-box-align(column, center, center);
    width: 100%;
    margin: $mp 0rem $mp;
    border: 2px solid $thaneWhite;
    border-radius: $mp;
    @include tablet {
      margin-top: $lp;
      padding: $lp;
      margin: $lp 0rem $lp;
      height: 100%;
    }
  }
  &-container--row {
    @include tablet {
      height: 100%;
    }
  }

  &-container--emerg {
    @include flexy-box-align(column, start, center);
    width: 100%;
    padding-left: $mp;
  }
  &-container--row {
    margin-top: $mp;
    padding: $mp;
    border: 2px solid $thaneWhite;
    border-radius: 10px;
    @include flexy-box-align(row, center, start);
  }
  &-container--row-noborder {
    width: 100%;
    @include flexy-box-align(row, center, start);
  }
  &-container--row-emerg {
    margin-top: $mp;
    padding: $mp;
    border: 2px dashed $roadRashRed;
    border-radius: 10px;
    width: 100%;
    @include flexy-box-align(row, center, start);
    @include tablet {
      margin-left: $lp;
      height: 100%;
    }
  }
  &-map {
    border: none;
    padding-top: $mp;
    width: 100%;
    height: 60vh;
    @include tablet {
      padding-top: $lp;
    }
  }
  &-text {
    color: $roadRashRed;
    position: absolute;
    left: 45%;
    @include tablet {
      position: static;
    }
  }
  &-text--inline {
    padding: $mp;
    color: $roadRashRed;
  }
  &-text-label {
    margin-right: $mp;
  }
  &-rating {
    width: 100%;
    @include flexy-box-align(row, center, center);
    flex-wrap: nowrap;
    padding-top: $mp;
    @include tablet {
      padding-top: $lp;
    }
  }
  &-rating-icon {
    width: 3rem;
    @include tablet {
      width: 4rem;
    }
  }
}
