@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

iframe {
  width: 100%;
}

.spot-page {
  width: 100%;
  padding: $mp;
  @include tablet {
    padding: $lp;
  }
}

.spot__title {
  padding-bottom: $mp;
}
.spot__detail {
  &--row {
    width: 100%;
    @include tablet {
      @include flexy-box-align(row, start, center);
      height: 60vh;
      margin-bottom: $lp;
    }
  }
  &--row-small {
    width: 100%;
    @include tablet {
      @include flexy-box-align(row, center, center);
    }
  }
  &-label {
    padding: calc($mp/2) $mp;
    color: black;
    background-color: $gromGreen;
    border: 2px dashed $gravelGrey;
    border-radius: 5px;
  }
  &-label--emerg {
    color: $roadRashRed;
    border-radius: 5px;
  }
  &-icon {
    border: 2px solid $roadRashRed;
    padding: $mp;
    border-radius: 5px;
  }
  &-icon--small {
    height: 2rem;
    padding-left: $mp;
    position: absolute;
    left: 60%;
    @include tablet {
      position: static;
    }
  }
  &-icon--gauge {
    width: 100%;
  }
  &-icon--emerg {
    height: 2rem;
  }
  &-container {
    height: auto;
  }
  &-container,
  &-container--vertical {
    height: 100%;
    margin-top: $mp;
    padding: $mp;
    @include flexy-box-align(column, center, center);
    width: 100%;
    border: 2px solid $thaneWhite;
    border-radius: $mp;
  }
  &-container--emerg {
    @include flexy-box-align(column, start, center);
    width: 100%;
    padding-left: $mp;
  }
  &-container--row {
    margin-top: $mp;
    padding: $mp;
    border: 2px solid $thaneWhite;
    border-radius: 10px;
    @include flexy-box-align(row, center, start);
    @include tablet {
      width: 90vw;
    }
  }
  &-container--row-noborder {
    width: 100%;
    @include flexy-box-align(row, center, start);
  }
  &-container--row-emerg {
    margin-top: $mp;
    padding: $mp;
    border: 2px dashed $roadRashRed;
    border-radius: 10px;
    width: 100%;
    @include flexy-box-align(row, center, start);
    @include tablet {
      margin-left: $lp;
    }
  }
  &-map {
    border: none;
    padding-top: $mp;
  }
  &-text {
    color: $roadRashRed;
    position: absolute;
    left: 45%;
    @include tablet {
      position: static;
    }
  }
  &-text--inline {
    padding: $mp;
    color: $roadRashRed;
  }
  &-text-label {
    margin-right: $mp;
  }
  &-rating {
    width: 100%;
    @include flexy-box-align(row, center, center);
    flex-wrap: nowrap;
    padding-top: $mp;
  }
  &-rating-icon {
    width: 3rem;
  }
}
